@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

nav {
    /* border: 1px solid blue; */
    text-align: center;


    background-color: #ffff;
    background-color: #9CA3AF;

    margin-bottom: 1rem;

   
}

nav .nav-title {

    font-size: 2rem;
    padding: 1rem;
    font-weight: 600;
}


main {
    /* border: 1px solid red; */
    
    max-width: 60%;

    padding: 1rem;
    margin: auto;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('pirates.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

#text-area {
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    padding: 1rem;
}

#btn-submit {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: large;

    cursor:pointer;
}

#content {
    margin-top: 1rem;
    color: #fff;
}

#output {
    border: 1px solid white;
    background-color: white;

    min-height: 15vh;
    max-height: 20vh;
    width: 100%;
    overflow: scroll;

    padding: 1rem;
    font-size: large;
}
footer {
    /* border: 1px solid green; */

    background-color: #fff;

    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;

    text-align: center;

    background-color: #9CA3AF;

}

#footer-title {
    font-size: larger;
    font-weight: 600;
}

#footer-content {
    max-width: 60%;
    margin: auto;

    
}


    